# Node
node_modules/
npm-debug.log*
package-lock.json.tmp

# Capacitor / iOS
ios/App/build/
ios/App/DerivedData/

# Sistema
.DS_Store
Thumbs.db

# GAS
app/GAS/.clasp.json

# Capacitor build output
cap/

# Native projects (generated)


# --- Capacitor native projects ---
# versionar o baseline nativo
!android/
!ios/

# arquivos locais / gerados do Android (não versionar)
android/local.properties
android/**/build/
android/.gradle/
android/.idea/
android/**/.cxx/
android/captures/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml


*.bak

